<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hash2colors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1CFAEC91DCFCB53007DD457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CFAEE51DCFE926007DD457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CFAEF31DCFE9BE007DD457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D38BAD1DAAA4130044665F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D38BC11DAAA4130044665F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D38BCC1DAAA4130044665F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
